body{
  text-align: center;
  color: #38C9C5;
  font-family: cursive;
}
img{
  width: 600px;
}
ul{
  list-style: none;
}
.boton{
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: lightgray;
  border-radius: 50%;
  margin: 10px;
  cursor: pointer;
}
.boton:hover{
  background-color: lightpink;
}
